.selector {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
}

.selector-enter {
  opacity: 0.5;
  transform: translateX(100vh);
}

.selector-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms cubic-bezier(0.1, 0.9, 0.1, 1.05);
}

.selector-exit {
  opacity: 1;
  transform: scale(1);
}

.selector-exit-active {
  opacity: 0;
  transform: scale(1.01);
  transition: all 300ms cubic-bezier(0.1, 0.9, 0.1, 1.05);
}

.button-selected {
  color: var(--color-background);
  border-color: var(--color-main);
  background-color: var(--color-main);
}
