* {
  all: unset;
  display: revert;
}

:root {
  --color-main: cadetblue;
  --color-main-hover: rgba(95 158 160 / 0.8);
  --color-background: rgb(255, 250, 230);
  --color-disabled: rgba(0 0 0 / 0.26);
  --color-warning: brown;
}

body {
  overflow: hidden;
}

.app {
  padding: 100px 15px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-background);
  box-sizing: border-box;
}

.app--entered {
  padding-top: 40px;
}

.wallet-number {
  word-break: break-all;
}

.button-send {
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: var(--color-background);
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.button-send:hover {
  border-color: var(--color-main);
  background-color: var(--color-main-hover);
}

.button-send--disabled,
.button-send--disabled:hover {
  border-color: var(--color-disabled);
  background-color: transparent;
}

.button-change-currency {
  height: 100%;
  width: 100%;
  color: var(--color-background);
  border-color: var(--color-main);
  background-color: var(--color-main);
}

.button-change-currency:hover {
  border-color: var(--color-main);
  background-color: var(--color-main-hover);
}

@media (min-width: 600px) {
  .app {
    padding-top: 150px;
  }
  .app--entered {
    padding-top: 100px;
  }

  .main-grid {
    max-width: 600px;
  }

  .button-send {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }
}
