.provider-info {
  text-align: center;
}

.provider-info__text {
  display: block;
  color: var(--color-main);
}

.provider-info__text--unable {
  color: var(--color-warning);
}

.provider-info__clue {
  margin: 20px 20px 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-disabled);
}

.provider-info__button {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media (min-width: 600px) {
  .provider-info__button {
    margin-top: 50px;
  }
}

@media (min-width: 1280px) {
  .provider-info__button {
    margin-top: 100px;
  }
}
