.processing {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-background);
  overflow: hidden;
}

.processing-enter {
  opacity: 0.1;
}

.processing-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}

.processing-exit {
  opacity: 1;
  transition: all 500ms ease;
}

.processing-exit-active {
  opacity: 0;
}
